# Verification Commands

---

## Router / Switch

```
show ip interface brief
show ip dhcp binding
```

---

## PC

```
ipconfig /all
ping 192.168.30.3
ping 192.168.30.2
ping youtube.com
```
